<% layout('layouts/boilerplate') %>
<h1 class="text-center">All Campgrounds</h1>
<!-- <div class="">
    <a href="/campgrounds/new"> 
        <button class="btn btn-primary mb-3">Add New Campground</button>
    </a>
</div> -->
<ul>
    <% for(let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%= campground.images[0].url%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title"> <%= campground.title %></h3>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> view <%= campground.title %></a>
            </div>
        </div>
    </div>
    <% } %>
</ul>
